* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(255, 0, 0, 0.733);
}

/* Cabezera */

header {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 400px;
}

/* Main */

main section.buscadorPokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

main section.buscadorPokemon div input {
  width: 250px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #ebda6a;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}

main section.buscadorPokemon div button {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #ebda6a;
  background-color: #fef2a2;
  font-weight: 400;
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
}

main section.buscadorPokemon div button:hover {
  background-color: #ebda6a;
}

main section.buscadorPokemon div button:active {
  background-color: #ebda6a;
}

/* Cards generados en JS */

section.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  max-height: 500px;
}

.card {
  font-family: "Roboto Mono", monospace;
  border-radius: 4px;
  width: 500px;
  color: #000;
  background-color: #eabcbc;
  border: 1px solid black;
  box-shadow: #6a6a6a 0px 0px 10px;
  text-align: center;
  padding: 10px;
  margin: 50px 20px 0px 20px;
  gap: 20px;
  align-self: center;
}

.card h2 {
  text-transform: capitalize;
}

.card .id {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
}

.card p {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

.card img {
  border-radius: 50%;
  position: relative;
  max-width: 100%;
  margin: 10px 20px 10px 20px;
  background-color: rgb(223, 223, 223);
  z-index: 0;
}

/* Footer */

footer {
  display: block;
  position: fixed;
  text-align: center;
  bottom: 0;
  margin: 0px;
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  padding: 5px;
}



/*Mensaje de error*/

.notfound {
  display: flex;
  justify-content: center;
  color: #ffcd00;
  font-size: 30px;
  margin-top: 20px;
  font-family: "Pokemon Solid", sans-serif;
  text-shadow: 2px 1px 0 #356abc, -1px -1px 0 #356abc, 1px -1px 0 #356abc,
    -1px 1px 0 #356abc, 0px 1px 0 #356abc, 1px 0px 0 #356abc, 0px -1px 0 #356abc,
    -1px 0px 0 #356abc;
}

/*  CSS FICHA AFTER Y BEFORE*/

.id::before {
  content: "ID Pokédex: #";
}

.id::after {
  content: ".";
}

.altura::before {
  content: "Height: ";
}

.altura::after {
  content: "m. ";
}

.peso::before {
  content: "Weight: ";
}

.peso::after {
  content: "kg. ";
}

.vida::before {
  content: "Health points: ";
}

.vida::after {
  content: " HP. ";
}

.ataque::before {
  content: "Attack points: ";
}

.ataque::after {
  content: " AP.";
}

.defensa::before {
  content: "Defense points: ";
}

.defensa::after {
  content: " DP.";
}

.velocidad::before {
  content: "Speed: ";
}

.velocidad::after {
  content: " SP. ";
}

.tipo {
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  border: 1px dashed black;
}

.tipo::before {
  content: "Type:   ";
}

.region::before {
  content: "Region: ";
}

.region::after {
  content: ".";
}

/* POP UP HELP */

.popup-trigger {
  position: fixed;
  bottom: 50px;
  right: 40px;
  text-align: center;
  color: #356abc;
  padding: 7px 18px;
  background-color: rgba(255, 255, 255);
  font-size: 25px;
  border-radius: 5px;
  font-weight: 500;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgb(187, 187, 187);
}

.popup {
  visibility: hidden;
  z-index: 1;
}

.popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
  
}

.popup-container {
  position: fixed;
  right: 2%;
  bottom: 40px;
  width: 90%;
  max-width: 500px;
  text-align: justify;
  margin: 3em auto;
  border-radius: 5px;
  background: white;
  border-top: 15px solid #ffcd00;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  z-index: 1;
  font-family: "Roboto Mono", monospace;
  
}

.popup-container-content {
  padding: 1em 3em 1em 2em;
}

.popup-container-content h4 {
  font-size: 20px;
  padding-bottom: 1em;
}

.popup-container-content p {
  margin: 1em 0 1em 1;
  line-height: 1.5em;
  text-decoration: none;
  color: #183964;
}

.popup-container-content a {
  text-decoration: none;
  color: #183964;
}

.popup-container {
  .button {
    background: #183964;
    font-size: 0.85em;
    display: inline-block;
    color: #fff;
    padding: 2em;
    right: 3em;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.25em;
    transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    border-right: 1px solid black;
    

    &:hover {
      background: #006f7c;
    }
  }
}

.popup-container .popup-close {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #356abc;
  
}

.is-visible .popup-container {
  -webkit-transform: translateY(-8%);
  -moz-transform: translateY(-8%);
  -ms-transform: translateY(-8%);
  -o-transform: translateY(-8%);
  transform: translateY(-8%);
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
  
}

#linkedin a {
  font-size: inherit;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
}

@media screen and (max-width: 600px) {
  #buscar {
    display: none;
  }
}